<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
                <item name="mfblog_index_page_title" xsi:type="string">mfblog/index_page/title</item>
                <item name="mfblog_index_page_meta_title" xsi:type="string">mfblog/index_page/meta_title</item>
                <item name="mfblog_index_page_meta_description" xsi:type="string">mfblog/index_page/meta_description</item>

                <item name="mfblog_post_list_posts_per_page" xsi:type="string">mfblog/post_list/posts_per_page</item>

                <item name="mfblog_sidebar_search_enabled" xsi:type="string">mfblog/sidebar/search/enabled</item>

                <item name="mfblog_sidebar_categories_enabled" xsi:type="string">mfblog/sidebar/categories/enabled</item>

                <item name="mfblog_sidebar_recent_posts_enabled" xsi:type="string">mfblog/sidebar/recent_posts/enabled</item>

                <item name="mfblog_sidebar_tag_claud_enabled" xsi:type="string">mfblog/sidebar/tag_claud/enabled</item>

                <item name="mfblog_sidebar_archive_enabled" xsi:type="string">mfblog/sidebar/archive/enabled</item>

                <item name="mfblog_sidebar_featured_posts_enabled" xsi:type="string">mfblog/sidebar/featured_posts/enabled</item>
                <item name="mfblog_sidebar_featured_posts_posts_ids" xsi:type="string">mfblog/sidebar/featured_posts/posts_ids</item>
            </argument>
        </arguments>
    </type>
</config>
